li {
  list-style: none;
}

.newsItem {
  margin-right: 10px;
  max-width: 328px;
  min-width: 180px;
  font: normal 400 14px/18px var(--font-family-pt-sans);
  color: var(--black-100);
  aspect-ratio: 328/373;
}

.newsItem__image {

  width: 100%;
  max-width: 212px;
  min-width: 102px;
  max-height: 306px;
  min-height: 164px;
}

.newsItem__date {
  display: block;
  text-align: start;
  color: var(--black-100);
}

.newsItem__title {
  margin: 0;
  font-size: 14px;
  line-height: 18px;
  text-align: start;
  font-weight: 400;
  color: var(--black-100);
}

.newsItem__text {
  margin: 0;
  color: rgba(50, 50, 50, 0.6);
  text-align: start;
  align-self: flex-end;
  font-size: 20px;
  line-height: 26px;
}

.newsItem__titleContainer {
  align-items: flex-start;
}

@media screen and (max-width: 1023px) {
  .newsItem {
    font-size: 12px;
    line-height: 16px;
  }
  .newsItem__title {
    font-size: 12px;
    line-height: 16px;
  }
  .newsItem__text {
    font-size: 14px;
    line-height: 18px;
  }
  .newsItem__image {
    aspect-ratio: 17/20;
  }
}

@media screen and (max-width: 767px) {
  .newsItem {
    width: 100%;
    aspect-ratio: auto;
    max-width: none;
    min-height: 246px;
    row-gap: 8px;
  }
  .newsItem__titleContainer {
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
  }
  .newsItem__title{
    font-style: italic;
  }
  .newsItem__image {
    aspect-ratio: 21/10;
    max-width: none;
  }
  .newsItem__text {
    grid-row: 2;
    grid-column: span 2;
  }
}

.link {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
