.menu__mobileLinksSection {
  min-height: 158px;
  border-bottom: 1px solid var(--bg-black-30);
  border-top: 1px solid var(--bg-black-30);
  padding: 0;
  display: flex;
  width: calc(100% - 24px);
  min-width: 336px;
  margin: 0;
  transition: all 0.5s ease-in-out;
}
.menu__mobileLinksSection_closed {
  height: 0;
  opacity: 0;
  min-height: 0;
}

.menu__dropdown {
  position: absolute;
  min-width: 705px;
  top: 100%;
  height: 38px;
  right: 0;
  z-index: 1;
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.1s, opacity 0.1s linear;
  align-items: flex-end;
  padding: 8px 10px 0;
}

.menu__dropdown_visible {
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 1023px) {
  .menu__dropdown {
    min-width: 456px;
    height: 25px;
    padding: 3px 0 0;
  }
}

.menu__dropdownItem {
  height: 100%;
  display: inline;
  text-decoration: none;
}

.menu__dropdownItem + .menu__dropdownItem {
  margin-left: 60px;
}

@media screen and (max-width: 1023px) {
  .menu__dropdownItem + .menu__dropdownItem {
    margin-left: 28px;
  }
}

.menu__link_dropdown {
  padding: 0;
}

.menu__mobileLinks {
  padding: 0;
  margin: 24px 87px 0 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
