.table {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: rgba(231, 228, 222, 1);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
}

.table__container {
  position: relative;
  padding-top: 170px;
  width: 64.30%;
}

.table__title {
  text-align: center;
  margin: 0 auto;
  padding: 36px 0 46px;
  font-family: var(--font-family-wf);
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 100%;
  color: var(--black-100);
  width: 100%;
  border-bottom:  1px solid rgba(50, 50, 50, 0.5);
}

.table__close {
  border: 0;
  background-image: url(../../../images/popup-contest__close-button.svg);
  background-color: rgba(0, 0, 0, 0);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  width: 22px;
  height: 22px;
  top: 37px;
  right: -23%;
  cursor: pointer;
}

@media screen and (max-width: 1023px) {
  .table__title {
    font-size: 24px;
    line-height: 30px;
    padding: 32px 0;
  }
}

@media screen and (max-width: 767px) {
  .table__title {
    font-size: 26px;
    line-height: 26px;
  }
}
