ul {
  padding: 0;
  margin: 0;
}

.cardsSlider {
  display: flex;
  gap: 1.3888vw;
  max-width: 1440px;
  margin: 0 auto;
}

.cardsSlider__bgSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 33.5%;
  max-width: 477px;
  min-width: 243px;
  background: var(--black-100);
  color: var(--color-text-white);
}

.cardsSlider__title {
  font: normal 400 46px/46px var(--font-family-wf);
  margin: 0;
}

.cardsSlider__bgTitle {
  margin: 16px 90px 0 32px;
  text-align: start;
}

.cardsSlider__sliderTitle {
  color: var(--black-100);
  text-align: start;
  line-height: 120%;
  margin: 16px 0 24px;
}

.cardsSlider__linkButtonContainer {
  display: flex;
  align-items: center;
  align-self: flex-end;
  gap: 1.3888vw;
  margin-inline-end: 32px;
  margin-block-end: 36px;
}

.cardsSlider__textLink {
  font: normal 400 20px/26px var(--font-family-pt-sans);
}

.cardsSlider__sliderContainer {
  padding-block-end: 1.5277vw;
  width: 66%;
}

.swiper {
  max-width: 943px;
}

.swiper__slide {
  margin-block-end: 75px;
  padding-top: 95px;
}

.swiper__navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  z-index: 100;
  width: 100%;
}

.swiper__btnContainer {
  display: flex;
  gap: 12px;
  padding-inline-end: 32px;
  padding-block-end: 8px;
}

.swiper__scrollbar {
  left: 0 !important;
}
.swiper-horizontal > .swiper-scrollbar {
  height: 4px;
}

.sliderMobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.8vw 3.3333vw 0;
  min-width: 336px;
  box-sizing: border-box;
  gap: 16px;
}
.title__container {
  width: 100%;
}

.sliderMobile__title {
  margin: 0;
  font: normal 400 32px/120% var(--font-family-wf);
  text-align: start;
}
.sliderMobile__linkButtonContainer {
  display: flex;
  align-items: center;
  min-height: unset;
  height: 24px;
  padding-top: 1px;
  box-sizing: border-box;
}
.sliderMobile__linkButtonContainer a {
  border: none;
  justify-content: flex-start;
}
.sliderMobile__linkButtonContainer img {
  width: 21px;
  margin-left: 6px;
}
.sliderMobile__linkButtonContainer a:hover {
  border: none;
}

.swiperMobile {
  max-width: 352px;
  width: 80vw;
  overflow: hidden;
  height: auto;
  box-sizing: border-box;
  padding-inline-start: 12px;
}

@media screen and (max-width: 1023px) {
  .cardsSlider__sliderContainer {
    width: 65.4%;
  }
  .cardsSlider__bgSection {
    width: 33.2%;
  }
  .cardsSlider__bgTitle {
    font-size: 30px;
    line-height: 37px;
  }
  .cardsSlider__linkButtonContainer {
    margin-inline-end: 20px;
  }
}

@media screen and (max-width: 767px) {
  .sliderMobile {
    max-width: 360px;
    margin: 0 auto;
  }
}
